// list for color box
.color-list
  display flex
  flex-wrap wrap

// box for display color
.color__item
  display flex
  flex-direction column
  width 140px
  padding 10px 12px
  margin 0 4px
  border-radius 4px
  color #fff
  // font-weight 700
  margin-right 12px
  margin-bottom 16px
