// list for color box
.color-list
  display flex
  flex-wrap wrap

// box for display color
.color__item
  display flex
  flex-direction column
  width 140px
  padding 10px 12px
  margin 0 4px
  border-radius 4px
  color #fff
  // font-weight 700
  margin-right 0.6rem
  margin-bottom 0.9rem

// fonts display by table
.title-table
  display flex
  flex-direction column
.title__item
  display flex
  justify-content space-between
  align-items center
  margin-top 0.7rem
  > div
    display flex
    span
      margin-right 0.4rem
      color var(--ui-g-500)
      &:last-child
          margin-right 0

// row (for card)
.row
  display flex
  align-items center
  justify-content space-between
  flex-wrap wrap
  > div
    z-index: 2
    margin-right: 10px
    margin-bottom: 10px

// bg img (for card)
.bd-placeholder-img
  font-size 1.2rem
  text-anchor middle
  user-select none
