html, body
  font-family Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol

a:hover
  text-decoration none!important

.home .hero
  margin-top 2.5rem
  display flex
  flex-direction column
  align-items center
  justify-content center
  @media screen and (min-width: 720px)
    min-height 600px

.home .hero h1, .home .hero .description, .home .hero .action
  margin: 1rem auto!important

// code
pre, pre[class*="language-"],
div[class*="language-"]
  background-color #252971

// nav
.nav-links .nav-item .nav-link span
  display none

.nav-dropdown .dropdown-item
  &:first-child
    cursor default
    pointer-events none
    opacity 0.7
    a
      cursor default
      pointer-events none
      color: var(--ui-primary-color)

